---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProgramPost from "../../components/ProgramPost.astro";
const pageTitle = "Programs - BHS Innovation Fund";

import { contentfulClient } from "../../lib/contentful";
import type { Program } from "../../lib/contentful";
import ProgramCard from "../../components/ProgramCard.astro";

const entries = await contentfulClient.getEntries<Program>({
  content_type: "program",
});

/* console.log(entries.items[0].fields.educators); */

const allPrograms = entries.items.map((item) => {
  const {
    name,
    slug,
    year,
    description,
    coverImageSrc,
    coverImageAlt,
    faculty,
    content,
    isActive,
    isCurrentlyFunded,
    featuredOnHomepage,
  } = item.fields;
  return {
    name,
    slug,
    year: new Date(year).getFullYear(),
    description,
    coverImageSrc,
    coverImageAlt,
    faculty,
    content,
    isActive,
    isCurrentlyFunded,
    featuredOnHomepage,
  };
});

/* console.log(allPrograms[0].educators); */
---

<BaseLayout pageTitle={pageTitle}>
  <div class="[ wrapper ]">
    <ul class="[ list-no-padding list-no-bullets flex-grid ]">
      {allPrograms.map((program: any) => <ProgramCard program={program} />)}
    </ul>
  </div>
</BaseLayout>
