---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPrograms = await getCollection("programs");
const tags = [
  ...new Set(allPrograms.map((program: any) => program.data.tags).flat()),
];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="[ wrapper ]">
    <h1>{pageTitle}</h1>
    <div class="tags">
      {
        tags.map((tag) => (
          <p>
            <a class="tag" href={`/tags/${tag}`}>
              {tag}
            </a>
          </p>
        ))
      }
    </div>
  </div>
</BaseLayout>
