---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Us";

const advisors = [
  "Jennifer Amigone",
  "Maria Arado-McDonald",
  "Annemieke Atema",
  "Jennifer Casas",
  "Kim Castro",
  "Cher Duffield",
  "Elizabeth Gardner",
  "Jennie Greene (Communications/Fundraising Committee, Co-Chair)",
  "Natasha Goldman Homann",
  "Mary Lochner Hurwitz",
  "Gene Keselman",
  "James Kessler",
  "Adi Kitov",
  "Anne Le Brun",
  "Nancy Lee",
  "Robert Neer",
  "Charu Puri-Sharma",
  "Tracy Shupp (Communications/Fundraising Committee, Co-Chair)",
  "Eli Silk (Program Committee, Chair)",
  "Jennifer Wells",
  "Audrey Winter-Driben",
  "Melissa Hale Woodman (Communications/Fundraising Committee, Co-Chair)",
];

const advisorColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="[ wrapper flow ]">
    <h1>{pageTitle}</h1>
    <p>
      At the BHS Innovation Fund, our mission is to catalyze innovation at
      Brookline High School by supporting faculty-driven curricular initiatives
      that will inspire our students and prepare them to thrive in a changing
      world.
    </p>
    <p>
      Our vision is for Brookline High School to provide an unparalleled
      education by instilling a passion for academic exploration and a
      commitment to innovation. We serve as venture philanthropy for BHS by
      investing in courses, programs, forums and research that help school
      leadership and faculty to continue to deliver excellence in public
      education.
    </p>

    <h2>Board of Advisors</h2>
    <ol>
      {advisors.map((advisor) => <li class="advisor">{advisor}</li>)}
    </ol>
  </div>
</BaseLayout>
