---
import BaseLayout from "../layouts/BaseLayout.astro";
import EventCard from "../components/EventCard.astro";

const allEvents = Object.values(
  import.meta.glob("./events/*.md", { eager: true })
);

const pageTitle = "Events";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="[ wrapper flow ]">
    <h1>{pageTitle}</h1>

    <ul class="[ list-no-padding list-no-bullets flex-grid ]">
      {
        allEvents.map((event: any) => (
          <EventCard event={event.frontmatter} url={event.url} />
        ))
      }
    </ul>
  </div>
</BaseLayout>
