---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Process - BHS Innovation Fund";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Through an annual grant application process, BHS educators submit proposals
    to research and develop new innovative courses and programs that advance
    education and enhance school culture at Brookline High School. Proposals are
    vetted by a committee comprised of members of the BHS Innovation Fund’s
    Board of Directors and key BHS and PSB administrators.
  </p>
  <p>
    Approved courses and programs are evaluated at established milestones
    (typically annually for three years). Selected programs are then integrated
    into the high school curriculum, while ongoing costs are taken over by the
    Town of Brookline.
  </p>
  <p>
    The impact of the BHS Innovation Fund’s investments in curriculum innovation
    are wide-reaching and groundbreaking in education.
  </p>
</BaseLayout>
