---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProgramPost from "../components/ProgramPost.astro";
const pageTitle = "Programs - BHS Innovation Fund";

import { contentfulClient } from "../lib/contentful";
import type { Program } from "../lib/contentful";

const entries = await contentfulClient.getEntries<Program>({
  content_type: "program",
});

/* console.log(entries.items[0].fields.educators); */

const allPrograms = entries.items.map((item) => {
  const {
    name,
    slug,
    year,
    description,
    coverImageSrc,
    coverImageAlt,
    faculty,
  } = item.fields;
  return {
    name,
    slug,
    year: new Date(year).toLocaleDateString(),
    description,
    coverImageSrc,
    coverImageAlt,
    faculty,
  };
});

/* console.log(allPrograms[0].educators); */
---

<BaseLayout pageTitle={pageTitle}>
  <div class="[ wrapper ]">
    <ul>
      {
        allPrograms.map((program: any) => (
          <ProgramPost
            url={`/programs/${program.slug}/`}
            title={program.name}
            image={program.coverImageSrc}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
