---
import Social from "./Social.astro";
---

<footer class="[ full-width ]">
  <div class="[ footer__main ] [ bg-primary ]">
    <div class="[ wrapper--full ]">
      <div>
        <ion-icon name="chatbubbles-outline" class="icon--32"></ion-icon>
        <h3>Contact</h3>
        <ul>
          <li>
            <a href="mailto:bhsinnovationfund@psbma.org"
              ><ion-icon name="mail-outline"></ion-icon> bhsinnovationfund@psbma.org</a
            >
          </li>
          <li>
            <a href="tel:617-713-5201"
              ><ion-icon name="call-outline"></ion-icon> 617-713-5201</a
            >
          </li>
          <li>
            <a
              href="https://maps.app.goo.gl/N5Uzbado8s4ytenFA"
              rel="external"
              target="_blank"
              ><ion-icon name="map-outline"></ion-icon> 115 Greenough St<br
              />Brookline, MA 02445</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ion-icon name="people-outline" class="icon--32"></ion-icon>
        <h3>Follow</h3>
        <ul class="social-list">
          <li>
            <Social
              url="https://facebook.com/BHSInnovationFund"
              icon="logo-facebook"
              alt="BHS Innovation Fund on Facebook"
            />
          </li>
          <li>
            <Social
              url="https://x.com/bhsinnofund"
              icon="logo-twitter"
              alt="BHS Innovation Fund on X/Twitter"
            />
          </li>
          <li>
            <Social
              url="https://instagram.com/bhsinnovationfund"
              icon="logo-instagram"
              alt="BHS Innovation Fund on Instagram"
            />
          </li>
          <li>
            <Social
              url="https://linkedin.com/company/bhs-innovation-fund"
              icon="logo-linkedin"
              alt="BHS Innovation Fund on LinkedIn"
            />
          </li>
          <li>
            <Social
              url="https://youtube.com/@bhsinnovationfund1222"
              icon="logo-youtube"
              alt="BHS Innovation Fund on YouTube"
            />
          </li>
        </ul>
      </div>
      <div>
        <ion-icon name="laptop-outline" class="icon--32"></ion-icon>
        <h3>Connect</h3>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSd-E429F6JQIctwUuyTYnGEksqG-riLhewTjBBg5m-1xzcR0A/viewform?vc=0&c=0&w=1&flr=0&fbzx=1311150078744881444&gxids=7628"
          class="button"
          rel="external"
          target="_blank">Join our Email List</a
        >
      </div>
      <div>
        <ion-icon name="link-outline" class="icon--32"></ion-icon>
        <h3>Quicklinks</h3>
        <ul>
          <li><a href="/impact/">Impact</a></li>
          <li><a href="/news/">News</a></li>
          <li><a href="/volunteer/">Volunteer</a></li>
          <li><a href="/events/">Events</a></li>
          <li>
            <a
              href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WMETUBMXB4DEQ&source=url"
              rel="external"
              target="_blank">Donate</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="[ footer__banner ] [ bg-secondary ]">
    <div class="[ wrapper--full ]">
      <p>&copy; 2024 BHS Innovation Fund</p>
    </div>
  </div>
</footer>
