---
import { Image } from "astro:assets";
import logoImage from "../images/logo/BIF-Logo-Color-Transparent-320w-321h.png";
---

<header>
  <a href="#main-content" class="skip-to-main">Skip to main content</a>

  <div class="[ header__banner ] [ bg-primary ]">
    <div class="[ wrapper ]">
      <p>
        MERRY + BRIGHT = ACADEMIC INNOVATION! Join us in shaping merry and
        bright futures this season. GIVE TODAY!
      </p>
    </div>
  </div>

  <div class="[ header__main ]">
    <div class="[ wrapper ]">
      <a href="/" class="[ logo ]">
        <Image
          src={logoImage}
          alt="BHS Innovation Fund logo"
          class="logo__image"
          loading="eager"
        /></a
      >

      <button
        class="nav-controls"
        aria-controls="primary-nav"
        aria-expanded="false"
      >
        <span class="visually-hidden">Menu</span>
        <ion-icon name="menu-outline" class="[ icon-menu ] [ icon--64 ]"
        ></ion-icon>
        <ion-icon name="close-outline" class="[ icon-close ] [ icon--64 ]"
        ></ion-icon>
      </button>

      <nav id="primary-nav">
        <ul class="nav-links">
          <li><a href="/about/">About</a></li>
          <li><a href="/programs/">Programs</a></li>
          <li><a href="/tags/">Tags</a></li>
          <li>
            <a
              class="button"
              href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WMETUBMXB4DEQ&source=url"
              rel="external"
              target="_blank">Donate</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
