---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import EventCard from "../../components/EventCard.astro";

const pageTitle = "Events";
const allEvents = await getCollection("events");
---

<BaseLayout pageTitle={pageTitle}>
  <div class="[ wrapper flow ]">
    <h1>{pageTitle}</h1>

    <ul class="[ list-no-padding list-no-bullets flex-grid ]">
      {
        allEvents.map((event: any) => (
          <EventCard event={event.data} url={event.id} />
        ))
      }
    </ul>
  </div>
</BaseLayout>
